<div class="container dark-grey-text mt-5" style="margin-top: 0px !important;">

  <div class="row">

    <div id="cart-body" class="col-md-12" data-controller="cart" data-info="[{'cart':'name'}]">

      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted"><i class="fe fe-cart" style="font-size: 24px"></i> Your cart</span>
        <span id="your-cart-items" class="badge badge-primary badge-pill">not defined !</span>
      </h4>

      <hr>

    </div>

  </div>

</div>