@import "../feathericon";

.user-signed {
  margin-left: 15px;
  opacity: 0.5;
}

.signin-block {
  width: 100%;
  float: left;
}

.nav-item {
  margin-left: 10px !important;
  a {
    color: white !important;
  }
  .nav-link {
    i.fe {
      margin-right: 7px;
    }
  }
}

#profile-options {
  margin-left: 10px !important;
  a {
    color: black !important;
  }
  .nav-link {
    i.fe {
      margin-right: 7px;
    }
  }
}

#nav-bar-brand-link {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  font-size: 16px;
  background-color: transparent !important;
  padding-right: 10px;
  i {
    font-size: 19px;
    margin-right: 7px;
  }
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

// index product

// correção
.card-body > p {
  min-height: 80px;
}
//

.box-img {
  height: 347px;
  overflow: hidden;
  a {
    img {
      width: 100%;
    }
  }
}

#shop-product-image {
  img {
    width: 100%;
  }
}

// show product

#breadcrumb-menu {
  background-color: transparent;
}

// cart

.item-img-product {
  width: auto;
  float: left;
  margin-right: 15px;
}
.item-info-product {
  float: left;
}

// user profile

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}

// orders

.info-order {
  float: left;
  font-size: 14px;
  width: 100%;
}

.span-info-order {
  width: 33%;
  float: left;
  text-align: left;
}

.span-info-order-right {
  text-align: right;
}

.order-product-item {
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.order-item-body {
  width: 100%;
  .img-product {
    float: left;
    margin-right: 10px;
  }
}

.order-product-total {
  margin-top: 10px;
}