<% if notice.present? %>

  <!-- Position it -->
  <div style="position: absolute; top: <%= set_top_by_namespace %>; right: 9px; z-index: 10000">

    <!-- Then put toasts within -->
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="4500" data-autohide="true">
      <div class="toast-header">
        <i class="fe fe-bell messages-toast-icon <%= flash[:kind] %>"></i>
        <strong class="mr-auto"></strong>
        <small class="text-muted"><%= flash[:tittle] %></small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="toast-body">
        <%= flash[:notice] %>
      </div>
    </div>

  </div>

<% end %>